
<!-- <input type="text" class="form-control" (input) = "onUpdateServerName($event)">   PASSING DATA USING EVENT BINDING 
<input type="text" class="form-control" [(ngModel)] = "serverName"> <br>


<button class="btn btn-primary" [disabled]="!allowNewServer" (click)="onCreateServer()">
    Add Servers</button>      <!--Property Binding && Event Binding --> 

<!-- <p>{{onServerCreation}}</p>

<app-server></app-server>
<app-server></app-server> --> 



<input type="text" class="form-control"   [disabled] = "!allowInputTag"   [(ngModel)] = "name"> <br> <hr>

<button class="btn btn-primary">Submit</button>

<button class="btn btn-success m-4" (click) = "enableInput()" >Enable</button>


<p>{{name}}</p>